.container-feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 30vh auto;
}

.feedback-title {
  color: orange;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 1.5em;
}

.phrase {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5em;
  margin-bottom: 1.2em;
}

.score-section {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3em;
  gap: 15px;
  margin-bottom: 5vh;
  width: 30vw;
  text-align: center;
}

.btn-align {
  margin-left: 20px;
}

.score-section:nth-child(even) {
  color: orange;
}
