.container-feedback {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 5vh auto;
}

.feedback-title {
  color: orange;
  font-family: 'Press Start 2P' , cursive;
  margin-bottom: 1.5em;
}

.phrase {
  color: white;
  font-family: 'Press Start 2P' , cursive;
  font-size: 2.5em;
  margin-bottom: 1.2em;
}

.score-section {
  color: rgb(255, 253, 162);
  display: grid;
  font-family: 'Press Start 2P' , cursive;
  font-size: 1.3em;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  line-height: 1.5em;
  margin-bottom: 5vh;
  text-align: center;
  width: 30vw;
}

.btn-align {
  margin-left: 20px;
}

.score-section:nth-child( even ) {
  color: orange;
}
