header {
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.avatar {
  flex-wrap: nowrap;
}

.header-player {
  color: rgb(255, 253, 162);
  flex-wrap: wrap;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
}

.header-score {
  color: rgb(255, 253, 162);
  font-family: 'Press Start 2P', cursive;
  flex-wrap: wrap;
  font-size: 1.5em;
}
