.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.avatar {
  flex-wrap: nowrap;
}

.avatar-player {
  /* */
}

.header-player {
  flex-wrap: wrap;
  font-size: 1em;
}

.header-score {
  flex-wrap: wrap;
  font-size: 1.5em;
}